<%= link_to 'write a message', new_dog_message_path(current_dog) %><br>

<% if @inbox != [] %>
  <% @inbox.each do |x| %>
    Sender: <%= Dog.find(x.sender_id).name %><br>
    Subject:<%= x.subject %><br/>
    Message:<%= x.content %><br/>
    <%= link_to "Reply to Message", new_dog_message_path(message_id: x.id) %>
    <%= button_to "Delete Message", dog_message_path(x.sender_id, x.id), { method: :delete } %>
  <% end %>
<% else %>
  <h2> You don't have any messages, start sending some!</h2>
<% end %>
