<%= link_to 'write a message', new_dog_message_path(current_dog) %><br>

<% if current_dog.received_messages != [] %>
  Your received messages:
  <% @inbox.each do |x| %>
    Sender: <%= Dog.find(x.sender_id).name %><br>
    Subject:<%= x.subject %><br/>
    Message:<%= x.content %><br/>
    <%= link_to "Reply to Message", new_dog_message_path(message_id: x.id) %>
    <%= button_to "Delete Message", dog_message_path(x.sender_id, x.id), { method: :delete } %>
  <% end %>
<% else %>
  <h2> You don't have any messages, start sending some!</h2>
<% end %>

<div id="dogs_sent_messages" class="inactive" >
  
  <% if @sent_messages %>
    Your Sent Messages:
    <% @sent_messages.each do |message| %>
    <% message.recipients.each do |recipient| %>
      Sent To: <%= recipient.username %><br>
      Subject: <%= message.subject %>
      <% end %>
    <% end %>
  <% end %>
</div>

<br><%= link_to "inbox", {}, id: "show_inbox"  %>
<%= link_to "sent messages", {}, id: "show_sent_messages" %>
