<div id="skip"><%= link_to "skip", doghouse_path %></div>

<div id="sign_in_form">
<h1>Make your profile</h1>

<%= current_dog.profile %>
<%= form_for @profile, :html => {:multipart => true} do |f| %>
<div id="filler">
<div id="image_field">
<%= f.file_field :image %>
</div>
<div id="upload_button">
  Upload Photo
</div>
</div>
<% if @profile.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

    <ul>
    <% @profile.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= f.label "Breed" %><br/>
<%= f.text_field :breed, {placeholder: "Breed"} %><br>
<%= f.label "Location" %><br/>
<%= f.text_field :location, {placeholder: "Location"} %><br>
<%= f.label "Age" %><br/>
<%= f.number_field :age, {placeholder: "Age"} %><br>
<%= f.label "Size:" %><br/>
<%= f.select :size, Profile.size_options, { prompt: "Pup Size" } %><br>
<%= f.label "Gender:" %><br/>
<%= f.select :gender, Profile.gender_options, { prompt: "Gender" } %><br>


<%= f.label :spayed, "Fixed?" %><br/>
<%= f.select :spayed, [['Yes', true], ['No',false]], { prompt: "Fixed?" } %><br/>

<%= f.submit "Make Profile", class: "call_to_action" %><br/>
<br/>
<br/>

<% end %>
</div>
