
<div id="friend_requests">
  <% if current_dog.pending_pals != [] %>
  <% current_dog.pending_pals.each do |pal| %>
  <%= pal.name %>  <%= button_to "+", add_friend_path(pal.id) %> <%= button_to "-", reject_friend_path(pal.id) %>
  <% end %>
  <% else %>
  <% if current_dog.pals.empty? && current_dog.outstanding_requests.empty? %>
  <div id="search_and_add_instructions">
    <div class="first_time_instructions">
      To Search & Add Friends -->
      <%= link_to "OK", {}, { class: "proceed_search_and_add" } %>
    </div>
  </div>
  <% end %>
  <% end %>
</div>



<div id="current_events">

  <h1>Upcoming Play Dates:</h1>
  <% if @events != [] %>
  <div id="events">
  <% @events.each do |x| %>
  <% @creator = Dog.find(x.creator_id) %>
  <% if @creator.profile %>
  <%= image_tag @creator.profile.image_url(:thumb) %>
  <% end %>
  <%= link_to x.title, dog_event_path(current_dog,x.id) %><br/>
  <% end %>
  </div>

  <% else%>
  You have no upcoming events!
  <% end %>
</div>

  <br>
  <% if @invited_to_events != [] %>
  <h1 class="header">You're Invited To:</h1>
  <% @invited_to_events.each do |invited_event| %>
  <div id="invitations">
    <%= link_to invited_event.title, dog_event_path(invited_event.creator_id, invited_event.id) %>
    <%= button_to "+", accept_invitation_path(event_id: invited_event.id), {method: :post} %>
    <%= button_to "-", decline_invitation_path(event_id: invited_event.id), {method: :post} %>
  </div>
  <% end %>
  <% else %>
  You have no pending event invitations!
  <% end %>

  <% if @events == [] && @invited_to_events == [] %>
  <% if current_dog.attended_events.empty? %>
  <div id="create_event_instructions">
    <div class="first_time_instructions" >
                 To Create Walks & Hangouts --v

      <%= link_to "OK", {}, { class: "proceed_create_event" }%>
    </div>
  </div>
  <% end %>
  <!-- <div class="instructions"> -->
  <!-- Instructions on creating events -->
  <!-- </div> -->
  <% end %>
