
<div id="friend_requests">
  <% if current_dog.pending_pals != [] %>
  <% current_dog.pending_pals.each do |pal| %>
  <%= pal.name %>  <%= button_to "accept", add_friend_path(pal.id) %> <%= button_to "reject", reject_friend_path(pal.id) %>
  <% end %>
  <% else %>
  <% if current_dog.pals.empty? && current_dog.outstanding_requests.empty? %>
  <div id="search_and_add_instructions">
    <div class="first_time_instructions">
      To find friends, click the magnifying glass above.
      <%= link_to "OK", {}, { class: "proceed_search_and_add" } %>
    </div>
  </div>
  <% end %>
  <% end %>
</div>




<div id="current_events">
  Upcoming Events:<br>
  <% if @events != [] %>
  <% @events.each do |x| %>
  <%= link_to x.title, dog_event_path(current_dog,x.id) %><br>
  <% end %>
  <% else%>
  You have no upcoming events!
  <% end %>
  <br>
  <% if @invited_to_events != [] %>
  Events you've been invited to:<br>
  <% @invited_to_events.each do |invited_event| %>
  <div class="invitation">
    <%= link_to invited_event.title, dog_event_path(invited_event.creator_id, invited_event.id) %>
    <%= button_to "Accept", accept_invitation_path(event_id: invited_event.id), {method: :post} %>
    <%= button_to "Decline", decline_invitation_path(event_id: invited_event.id), {method: :post} %>
  </div>
  <% end %>
  <% else %>
  You have no pending event invitations!
  <% end %>

  <% if @events == [] && @invited_to_events == [] %>
  <% if current_dog.attended_events.empty? %>
  <div id="create_event_instructions">
    <div class="first_time_instructions" >
                 To create walks & hangouts, click the paw below.

      <%= link_to "OK", {}, { class: "proceed_create_event" }%>
    </div>
  </div>
  <% end %>
  <!-- <div class="instructions"> -->
  <!-- Instructions on creating events -->
  <!-- </div> -->
  <% end %>
</div>
