<h1>Search Dogs</h1>

<%= form_for :search, url: search_path do |f| %>
<%= f.text_field :search_term %>
<%= f.submit "Search" %>
<% end %>

<% @dogs.each do |dog| %>
<%= image_tag dog.profile.image_url(:thumb) if dog.profile.image? %>
<%= dog.name %><%= button_to "+", friend_request_path(dog.id) %>

<br/>
<% end %>
