.attendees_event
  %span#lat.loc= @event.lat
  %span#long.loc= @event.long


  = render 'show_map' 
  %strong
    Title:
  %p
    = @event.title
  %strong
    type:
  %p
    = @event.type
  %strong
    Place:
  %p
    = @event.location
  %strong
    Description:
  %p
    = @event.description
  %strong
    Date:
  %p
    = @event.date
  %strong
    Start Time:
  %p
    = @event.time
