.attendees_event
  %strong
    Title:
  %p
    = @event.title
  %strong
    type:
  %p
    = @event.type
  %strong
    Place:
  %p
    = @event.location
  %strong
    Description:
  %p
    = @event.description
  %strong
    Start Time:
  %p
    = @event.start_time
  %strong
    End Time:
  %p
    = @event.end_time
