<div class="walk_or_hangout">
  Are you making a:
  <br><br>
  <button class="Walk">Walk</button>
  <br><br>
  or
  <br><br>
  <button class="Hangout">Hangout</button>
  <br>
</div>
<%= form_for [current_dog, @event] do |f| %>

<%= f.hidden_field :type, value: nil %>
<%= f.text_field :title, placeholder: "Event Title" %><br>
<%= f.text_field :location, placeholder: "Event Location" %><br>
Start time:<%= f.datetime_select :start_time %><br/>
End time:<%= f.datetime_select :end_time %><br/>

<%= f.text_area :description, placeholder: "Event Description" %><br>
<%= f.submit 'bark with me' %>
<% end %>
<%= render "add_friend_table" %>
