<!DOCTYPE html>
<html>
<head>
  <title>Pupular</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
<meta name="viewport"  user-scalable=no"/>

  <%= csrf_meta_tags %>
</head>
<body>

  <% if current_dog && current_dog.is_registered? %>
    <%= render "layouts/top_navigation" %>
    <%= render "layouts/search" %>
    <div class="container">


  <% else %>


      <div class="landing_container">

  <% end %>

    <%= yield %>
  </div>
  <% if current_dog && current_dog.is_registered? %>
    <%= render "layouts/bottom_navigation" %>

  <% end %>


</body>
</html>
