<!DOCTYPE html>
<html>
<head>
  <title>Pupular</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%# current_dog = nil %>
  <% if current_dog %>
<%= render "layouts/top_navigation" %>
<%= render "layouts/bottom_navigation" %>
  <% end %>
<%= yield %>


</body>
</html>
